@font-face {
  font-family: "Now";
  font-weight: 400;
  src: url('./fonts/now.regular.otf');
}

@font-face {
  font-family: "Now Alt";
  font-weight: 500;
  src: url('./fonts/NowAlt-Medium.otf');
}

@font-face {
  font-family: "Now";
  font-weight: 700;
  src: url('./fonts/now.bold.otf');
}

body {
  font-family: "Now";
  padding: 20px 50px 50px;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.buttonsRow {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.actionButton {
  background-color: blueviolet;
  color: rgb(247, 221, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: none;
  outline: none;
  font-size: 1em;
  line-height: 1em;
  font-family: "Now";
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 5px;
}

.actionButton:hover {
  background-color: rgb(150, 73, 223);
  color: #fff;
  box-shadow: 0px 10px 12px rgba(150, 73, 223, 0.4);
  transform: translateY(-5px);
}

.actionButton:active {
  transform: translateY(0px);
  box-shadow: 0px 8px 10px rgba(150, 73, 223, 0.3);
}

.actionButton.disabled {
  background-color: #ccc;
  color: #888;
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06);
}

.actionButton.disabled:hover {
  background-color: #ccc;
  color: #888;
}

.hintButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ddd;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.8em;
  border-radius: 50%;
  padding: 6px 6px 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.hintButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.hintButton:hover + .hoverHintContainer .hoverHint {
  visibility: visible;
}

.disabled .hintButton {
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.hoverHintContainer {
  position: relative;
}

.hoverHintContainer .hoverHint {
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.textControls {
  display: flex;
  gap: 30px;
  visibility: hidden;
}

.textInput {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  color: #333;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.textInput:focus {
  outline: none;
  border-color: rgb(149, 60, 231);
  color: black;
}

.textInput.error {
  border-color: orangered;
  color: red;
}

.textColorPreview {
  display: inline-block;
  background-color: #52644e;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#textColorInput {
  width: 100px;
}

#textSizeInput {
  width: 80px;
}

#textPrefixInput,
#textSuffixInput {
  width: 80px;
}

#textPreviewContentInput {
  width: 200px;
}

.progressInfo {
  display: flex;
  height: 20px;
  margin: 5px 0 10px;
}

.progressText {
  color: rgb(126, 126, 126);
  font-size: 0.8em;
  line-height: 1em;
  font-style: italic;
}

.cardPreview {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  overflow: visible;
}

.previewText {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  user-select: none;
  cursor: move;
}

.hint {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 5px;
  visibility: hidden;
  white-space: nowrap;
  z-index: 5;
}

.hint.hintToLeft.animated {
  animation: floatingHorizontal 1s linear 0s infinite;
}

.hint.hintToLeft:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.7);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 15px;
  left: -20px;
}

@keyframes floatingHorizontal {
  from { transform: translate(0px, 0px); }
  65% { transform: translate(10px, 0px); }
  to { transform: translate(0px, 0px); }
}

.hintCloseButton {
  font-weight: bold;
  font-size: 1.3em;
  margin-left: 10px;
  cursor: pointer;
}

.resultSection {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}
